body {
  background-color: #FFFDD0;

  margin: 2em auto;
	padding: 1em;
	margin-bottom: 500px;
	scrollbar-color: gray #151515;
	font-family: sans-serif;
	line-height:1.6
	

}

ul {
	text-align: center
}

P {
	text-align: center
}
	

P {
  font-size: 1em
}


h1 {
  color: navy;
  text-align: center
}

h1 {
  font-size: 3em
}

h2 {
	color: maroon;
  text-align: center

}

h2 {
  font-size: 2em
}

h3 {
  text-align: center
}

h3 {
  font-size: 1.5em
}
