body {
  background-color: #FFFDD0;
}

P {
  text-align: center
}
P {
  font-size: 1em
}


h1 {
  color: navy;
  text-align: center
}

h1 {
  font-size: 3em
}

h2 {
  text-align: center
}

h2 {
  font-size: 2em
}
